---
import BaseLayout from "../layouts/BaseLayout.astro";
import PeersList from '../components/PeersList.vue';
---

<BaseLayout title="Peers App">
  <!-- left header content -->
  <div slot="header-left">
    <div class="blue-section"></div>
  </div>

  <div class="page-body" style="padding: 2rem;">
    <div class="peers-grid">
      <PeersList client:load /> <!-- ensures the component is interactive -->
    </div>
  </div>
</BaseLayout>
